<div class="filters">
    <mat-form-field>
        <mat-label>Sort</mat-label>
        <mat-select
            panelClass="sort-select"
        >
            <mat-option value="name">Name</mat-option>
            <mat-option value="-released">Released</mat-option>
            <mat-option value="-added">Added</mat-option>
            <mat-option value="-created">Created</mat-option>
            <mat-option value="-updated">Updated</mat-option>
            <mat-option value="-rating">Rating</mat-option>
            <mat-option value="metacritic">Metacritic</mat-option>

        </mat-select>
    </mat-form-field>
</div>

<div class="games">
    <div class="game">
        <div class="game-thumb-container">
            <img src="https://imagizer.imageshack.com/img924/8143/fxvktN.png"
            alt="thumbail"
            class="game-thumbnail">
        </div>
        <div class="game-description">
            <p class="game-name">Name</p>
            <div class="game-platforms">
                <img 
                    class="game-platform"
                    src="https://www.freepnglogos.com/uploads/xbox-logo-black-png-7.png"
                    alt="slug"
                />
            </div>
        </div>
    </div>
</div>