<header><b>Game Database:</b></header>

<div class="filters">
    <mat-form-field>
        <mat-label>Sort</mat-label>
        <mat-select
            panelClass="sort-select"
        >
            <mat-option value="name">Name</mat-option>
            <mat-option value="-released">Released</mat-option>
            <mat-option value="-added">Added</mat-option>
            <mat-option value="-created">Created</mat-option>
            <mat-option value="-updated">Updated</mat-option>
            <mat-option value="-rating">Rating</mat-option>
            <mat-option value="metacritic">Metacritic</mat-option>

        </mat-select>
    </mat-form-field>
</div>

<div class="games">
    <div class="game">
        <div class="game-thumb-container">
            <img src="https://imagizer.imageshack.com/img924/8143/fxvktN.png"
            alt="thumbail"
            class="game-thumbnail">
        </div>
        <div class="game-description">
            <p class="game-name">All Games</p>
            <div class="game-platforms">
                <img 
                    class="game-platform"
                    src="https://i.imgur.com/cgxq8Gb.jpeg"
                    alt=""
                />
            </div>
        </div>
    </div>
    <div class="game">
        <div class="game-thumb-container">
            <img src="https://assets-prd.ignimgs.com/2021/12/08/portal2-1638924084230.jpg" alt="thumbail" class="game-thumbnail">
        </div>
        <div class="game-description">
            <p class="game-name">Portal 2</p>
            <div class="game-platforms">
                <img class="game-platform" src="https://i.imgur.com/cgxq8Gb.jpeg" alt="" />
            </div>
        </div>
    </div>
</div>