{{message}}

<!DOCTYPE html>
<html>
<head>
  <title>CEN3031 Gaming Database</title>
</head>
<body>
  <header>
    <h1>CEN3031 Gaming Database</h1>
    <nav>
        <img src="https://imagizer.imageshack.com/img924/8143/fxvktN.png" alt="Description of the image" width="400" height="300">
    </nav>
  </header>
  
  <main>
    <h2>Welcome to the CEN3031 Gaming Database</h2>
    <p>Please use the links above the login or access games.</p>
  </main>
  
  <footer>
    <p>&copy; 2023 My Homepage. All rights reserved.</p>
  </footer>
</body>
</html>

