<header><b>Game Database:</b></header>

<div class="filters">
    <mat-form-field>
        <mat-label>Sort</mat-label>
        <mat-select
            panelClass="sort-select"
        >
            <mat-option value="name">Name</mat-option>
            <mat-option value="-released">Released</mat-option>
            <mat-option value="-added">Added</mat-option>
            <mat-option value="-created">Created</mat-option>
            <mat-option value="-updated">Updated</mat-option>
            <mat-option value="-rating">Rating</mat-option>
            <mat-option value="metacritic">Metacritic</mat-option>

        </mat-select>
    </mat-form-field>
</div>

<div class="games">
    <div class="game">
        <div class="game-thumb-container">
            <img src="https://imagizer.imageshack.com/img924/8143/fxvktN.png"
                 alt="thumbail"
                 class="game-thumbnail">
        </div>
        <div class="game-description">
            <p class="game-name">All Games</p>
            <div class="game-platforms">
                <img class="game-platform"
                     src="https://i.imgur.com/cgxq8Gb.jpeg"
                     alt="" />
            </div>
        </div>
    </div>
    <div class="game">
        <div class="game-thumb-container">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Portal_2_Official_Logo.png/640px-Portal_2_Official_Logo.png" alt="thumbail" class="game-thumbnail">
        </div>
        <div class="game-description">
            <p class="game-name">Portal 2</p>
            <div class="game-platforms">
                <img class="game-platform" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/768px-Steam_icon_logo.svg.png" alt="" />
            </div>
        </div>
    </div>
    <div class="game">
        <div class="game-thumb-container">
            <img src="https://live.staticflickr.com/1820/28906516347_a4c01caa1a_b.jpg" alt="thumbail" class="game-thumbnail">
        </div>
        <div class="game-description">
            <p class="game-name">Yakuza 0</p>
            <div class="game-platforms">
                <img class="game-platform" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/768px-Steam_icon_logo.svg.png" alt="" />
            </div>
        </div>
    </div>
    <div class="game">
        <div class="game-thumb-container">
            <img src="https://live.staticflickr.com/722/33477550306_345ee30b37_b.jpg" alt="thumbail" class="game-thumbnail">
        </div>
        <div class="game-description">
            <p class="game-name">The Legend of Zelda: Breath of the Wild</p>
            <div class="game-platforms">
                <img class="game-platform" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/NintendoSwitchLogo.svg/1200px-NintendoSwitchLogo.svg.png" alt="" />
            </div>
        </div>
    </div>
    <div class="game">
        <div class="game-thumb-container">
            <img src="https://live.staticflickr.com/969/42123159191_e2794547c2_b.jpg" alt="thumbail" class="game-thumbnail">
        </div>
        <div class="game-description">
            <p class="game-name">Hollow Knight</p>
            <div class="game-platforms">
                <img class="game-platform" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/768px-Steam_icon_logo.svg.png" alt="" />
            </div>
        </div>
    </div>
    <div class="game">
        <div class="game-thumb-container">
            <img src="https://live.staticflickr.com/722/33477550306_345ee30b37_b.jpg" alt="thumbail" class="game-thumbnail">
        </div>
        <div class="game-description">
            <p class="game-name">Spider-Man</p>
            <div class="game-platforms">
                <img class="game-platform" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/768px-Steam_icon_logo.svg.png" alt="" />
            </div>
        </div>
    </div>
</div>