.container {
    width: 100%;
    text-align: center;
}
.btn {
    display: block;
    width: 80%;
    max-width: 300px;
    margin: 20px auto;
    padding: 10px;
    background-color: #4f51b5;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover{
    color: #4f51b5;
    background-color: #fff;
    border: 1px solid #4f51b5;
}

.center {
    text-align: center;
}

